@page "/"
@using Helther.Shared.Entity
@using Microsoft.AspNetCore.Components
@using Helther.Client.Models

@inject HttpClient _httpClient

<PageTitle>Helther - Service health checker</PageTitle>

<br/>
<div class="row align-items-center">
    <div class="col">
        <h1>Services</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-outline-success float-end" @onclick="() => ChangeAddNewServiceModalVisibility(true)">Add new</button>
    </div>
</div>

@if (_services != null || _services?.Count > 0)
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="10%">#</th>
            <th width="20%">Name</th>
            <th width="10%">Url</th>
            <th width="10%">State</th>
            <th width="20%">Rate (sec)</th>
            <th width="30%">Last check</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _services)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Url</td>
                @if (item.Status == 200)
                {
                    <td>
                        <span class="badge rounded-pill bg-success">
                            @item.Status
                        </span>
                    </td>
                }
                else
                {
                    <td>
                        <span class="badge rounded-pill bg-danger">
                            @item.Status
                        </span>
                    </td>
                }
                <td>@item.RateInSec Sec</td>
                <td>@item.LastUpdateDateTime</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success" @onclick="() => Refresh(item.Id)">
                            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12,6V9L16,5L12,1V4A8,8 0 0,0 4,12C4,13.57 4.46,15.03 5.24,16.26L6.7,14.8C6.25,13.97 6,13 6,12A6,6 0 0,1 12,6M18.76,7.74L17.3,9.2C17.74,10.04 18,11 18,12A6,6 0 0,1 12,18V15L8,19L12,23V20A8,8 0 0,0 20,12C20,10.43 19.54,8.97 18.76,7.74Z"/>
                            </svg>
                        </button>


                        <button type="button" class="col btn btn-danger" @onclick="() => Remove(item.Id)">
                            <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
        }
        </tbody >
    </table>
}
else
{
    <p>You don't have services.</p>
}

@if (_showAddNewServiceModal)
{
    <div tabindex="-1" class="fixed-top align-middle">
        <EditForm Model="_creatingService">
            <div class="modal-dialog shadow-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => ChangeAddNewServiceModalVisibility(false)"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nameAddFormInput" class="form-label">Name</label>
                            <InputText type="text" class="form-control" id="nameAddFormInput" placeholder="Name" @bind-Value="_creatingService.Name"/>

                        </div>
                        <div class="mb-3">
                            <label for="urlAddFormInput" class="form-label">Url</label>
                            <InputText type="text" class="form-control" id="urlAddFormInput" placeholder="https://localhost:8080" @bind-Value="_creatingService.Url"/>
                        </div>
                        <div class="mb-3">
                            <label for="rateAddFormInput" class="form-label">Rate</label>
                            <div class="input-group">
                                <InputNumber type="number" class="form-control" id="rateAddFormInput" placeholder="60" @bind-Value="_creatingService.Rate"/>
                                <span class="input-group-text">.sec</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => ChangeAddNewServiceModalVisibility(false)">Close</button>
                        <button type="submit" class="btn btn-primary" @onclick="AddNewService">Add</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}

@code{
    // Fetched data
    private List<Service>? _services;

    // Form controls
    private bool _showAddNewServiceModal = false;

    // Request models
    private CreatingServiceModel _creatingService = new();
    private Task _updatedDataTimer;

    protected override async Task OnInitializedAsync()
    {
        _updatedDataTimer = new Task(async () =>
        {
            while (true)
            {
                await FetchAllServices();
                await Task.Delay(5000);
            }
        });
        _updatedDataTimer.Start();
    }

    private async Task FetchAllServices()
    {
        _services = await _httpClient.GetFromJsonAsync<List<Service>>("Services");
        StateHasChanged();
    } 

    private void ChangeAddNewServiceModalVisibility(bool show)
    {
        _showAddNewServiceModal = show;
    }

    private async Task AddNewService()
    {
        await _httpClient.PostAsJsonAsync("Services/Create", _creatingService);
        _creatingService = new CreatingServiceModel();
        ChangeAddNewServiceModalVisibility(false);
        await FetchAllServices();
    }

    private async Task Remove(int id)
    {
        await _httpClient.DeleteAsync($"Services/Remove/{id}");
        await FetchAllServices();
    }

    private async Task Refresh(int id)
    {
        await _httpClient.GetAsync($"Services/RefreshStatus/{id}");
        await FetchAllServices();
    }

}